<div style="display: flex; justify-content: center; align-items: center;">
  <div class="card pt-5 pb-5" style="width: 90%; background-color: #F2F6FF;">
      <div class="row g-0">
          <div class="col-md-5">
              <img src="/images/pdfverce.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-7">
              <div class="card-body">
                  <h2 class="card-title font-weight-bold">Cara Mengedit PDF Secara Online Gratis</h2>
                  <p class="card-text">
                      Untuk mengedit dokumen PDF Anda menggunakan PDF Editor kami, ikuti langkah-langkah ini:
                  </p>
                  <ul class="list-unstyled">
                      <li class="ml-4 mb-3">1. Unggah atau taruh dokumen PDF Anda ke PDF Editor</li>
                      <li class="ml-4 mb-3">2. Tambahkan teks, gambar, dan anotasi dari tab Mark up</li>
                      <li class="ml-4 mb-3">3. Edit teks yang ada dari tab Edit—ini adalah fitur pro</li>
                      <li class="ml-4 mb-3">4. Susun, ekstrak, dan pisahkan halaman dari tab Organize</li>
                      <li class="ml-4 mb-3">5. Unduh atau ekspor PDF yang sudah diedit Anda ke Word, Excel, JPG, atau PPT</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
