<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/css/nav-style.css">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fnF6F1HjJTO2fU7+6zP6o7hX9zqnQJ7NO6vK4Qxp8l+4+AjWl/PfJzSFCfK5p5a5"
		crossorigin="anonymous"></script>
</head>

<body>

	<nav>
		<div class="nav-container">
			<a href="#" class="brand"><img src="/images/Logo.png" width="180" height="180" alt="" srcset=""></a>
			<ul class="nav-menu">

				<li>
					<i class="fa-solid fa-border-all fontawesometool"></i>
					<a href="#" style="margin-left: 10px;">Semua Alat <i class='bx bx-chevron-down'></i></a>
					<div class="dropdown-menus">
						<div class="nav-container">
							<div class="left-section">
								<span class="dropdown-close"><i class='bx bx-chevron-left'></i> Kembali</span>
								<h1>Tentang PDF Magic</h1>
								<p class="dropdown-about">Selamat datang di PDF Magic, solusi lengkap untuk semua kebutuhan terkait PDF Anda. Kami menyediakan serangkaian alat yang dirancang untuk mempermudah dan meningkatkan efisiensi dalam bekerja dengan file PDF. Apakah Anda perlu menggabungkan, membagi, mengompres, mengkonversi, atau mengedit PDF, PDF Magic siap membantu Anda.
								</p>
								<a href="#services" class="btn-see-all">Jelajahi</a>

							</div>
							<div class="right-section">
								<h3>Alat Pengaturan PDF</h3>
								<ul class="dropdown-links">
									<li>
										<a href="/pdfeditor">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Edit File PDF </h5>
												<p>Edit PDF secara online Tanpa mengonversi Dokumen Anda</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Gabungkan File PDF </h5>
												<p>Gabungkan Banyak dokumen untuk membuat satu PDF dengan mudah.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="splitpdf">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Pisahkan File PDF </h5>
												<p>Pisahkan dan Ekstrak informasi PDF menjadi beberapa file.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/rotate-pdf">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Putar File PDF </h5>
												<p>Putar Satu Halaman, Beberapa, atau semua Halaman PDF.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/add-page-number">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Tambahkan Nomor Halaman </h5>
												<p>Sisipkan nomor halaman ke PDF Anda secara online dengan mudah</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/watermark-pdf">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Tambahkan Watermark </h5>
												<p>Tambahkan Gambar Watermark atau teks ke Dokumen PDF Anda</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/delete">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Hapus Halaman PDF</h5>
												<p>Hapus halaman PDF secara online dan simpan hasil sebagai PDF baru</p>
											</div>
										</a>
									</li>
								</ul>

								<!-- Alat Konversi PDF -->
								<h3 class="mt-4 mb-5">Alat Konversi PDF</h3>
								<ul class="dropdown-links">
									<li>
										<a href="/pdf-to-word">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF ke Word Convert </h5>
												<p>Ubah file PDF menjadi dokumen Word yang dapat diedit dengan mudah.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/pdf-to-excel">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF ke Excel Convert </h5>
												<p>Ubah file PDF menjadi Lembar Excel yang dapat diedit dengan mudah.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/pdf-to-ppt">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF ke PPT Convert </h5>
												<p>Ubah file PDF menjadi Powerpoint PPT yang dapat diedit dengan mudah.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/pdf-to-jpg">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF ke JPG Convert </h5>
												<p>Konversi setiap halaman PDF menjadi JPG dan ekstrak JPG.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/pdf-to-png">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF ke PNG Convert </h5>
												<p>Konversi setiap halaman PDF menjadi PNG dan ekstrak PNG.</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/pdf-to-json">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF ke JSON Convert </h5>
												<p>Konversi PDF ke JSON dalam hitungan detik dengan mudah</p>
											</div>
										</a>
									</li>
									<li>
										<a href="/pdf-to-tiff">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF ke TIFF Convert </h5>
												<p>Konversi PDF ke TIFF dalam hitungan detik dengan mudah</p>
											</div>
										</a>
									</li>

									<li>
										<a href="/pdf-to-txt">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>PDF to Text Convert </h5>
												<p>Konversi PDF ke Teks dalam hitungan detik dan dengan mudah</p>
											</div>
										</a>
									</li>
								</ul>

								<!-- PDF Creating Tools -->

								<h3 class="mt-4 mb-5">Alat Pembuatan PDF</h3>
								<ul class="dropdown-links">
									<li>
										<a href="/word-to-pdf">
											<i class='bx bxs-file-pdf'></i>
											<div>
												<h5>Word To PDF Convert </h5>
												<p>Ubah dokumen Word yang dapat diedit menjadi PDF dengan mudah.</p>
											</div>
										</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="splitpdf">Split Pdf</a>
				</li>
				<li>
					<a href="/watermark-pdf">Watermark</a>
				</li>
				<li>
					<a href="https://anjaszzz.my.id/">About Dev</a>
				</li>
				<!-- <li>
					<button type="button" class="btn btn-primary">Login</button>
				</li> -->

			</ul>
			<i class='bx bx-menu toggle-navbar'></i>
		</div>
	</nav>

	<script src="/js/script.js"></script>
</body>

</html>