<div class="container-fluid mb-5 pt-1 pb-5" style="background-color: #fff;" id="services">
    <div class="text-center mt-5"> 
        <h1 class="font-weight-bold services-head">Mengapa Memilih PDF Magic ?</h1>
    </div>
    <div class="row" >
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
                    <h4 class="services-h4">Manipulasi Dokumen</h4>
                    <p class="services-p">Memanipulasi dan membagikan dokumen Anda kepada dunia! Gunakan alat Kompres untuk memperkecil ukuran dokumen Anda & mempermudah distribusi elektronik dan memungkinkan Anda menggabungkan, Pisah, Putar, atau memberi watermark pada PDF. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services speedup">
                    <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
                    <h4 class="services-h4">100% Alat Aman</h4>
                    <p class="services-p">Alat-alat PDF kami dirancang dengan keamanan sebagai prioritas utama, dan kami mengambil setiap langkah untuk memastikan bahwa dokumen Anda aman dan terlindungi. Pada kebanyakan kasus, file PDF tidak diunggah ke server kami.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services privacy">
                    <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
                    <h4 class="services-h4">Akses dari Mana Saja</h4>
                    <p class="services-p">PDF Magic sepenuhnya online, tidak ada perangkat lunak yang perlu diunduh. Akses dan edit file PDF dari browser modern manapun: Chrome, IE, Firefox, Opera, atau Safari menjadikannya pilihan yang nyaman untuk berbagi dan mendistribusikan.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
